.to-twitter {
	text-align: center;
}
.tweet {
	border-bottom: 1px solid #e1e8ed;
	padding: 9px 12px;
	.profile-image {
		float: left;
		margin-right: 10px;
	}
	.name {
		display: inline;
		font-weight: bold;
		margin-right: 5px;
	}
	.screen-name {
		display: inline;
		color: #e1e8ed;
		font-size: 12px;
	}
}
.popover {
	width: 340px;
}
.count {
	display: inline-block;
	width: 80px;
	text-align: left;
	.count-type {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
	}
}